body {
	font-family: 'Raleway', sans-serif;
	
}

html, body, header {
	height: 100%;
	width: 100%;
}


header, nav, footer, section, div {
  box-sizing: border-box;
}

h1, nav a, .btn a {
	text-transform: uppercase;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.splash-page {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../imgs/hero.jpg);
	height: 80%;
	background-position: center;
	background-size: cover;
	color: white;
	position: relative;
}
 
 

nav {
	float: right;
}

ul {
	margin-top: 5%;
}
li {
	display: inline-block;
}
.splash-page a, 
.contact-me a {
	color: white;
	text-decoration: none;
	margin: 40px;
	font-size: 18px;
}

nav a:hover {
	color: #f3b089;
}



.hero-text {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-size: 7em;
	font-weight: bolder;
}

.hero-text p {
	margin-top: -1.5em;
	font-size: 2em;
	text-transform: capitalize;
	font-weight: bolder;
	color: #f3b089;

}

.btn a {
	padding: 11px;
	margin: 0 7px;
	display: inline-block;
	border: 2px solid white;
}

.btn a:hover {
	color: #f3b089;
	border: 2px solid #f3b089; 
}

.btn {
	/*margin-top: -40px;*/
}

/***************************************************/
/*ABOUT ME SECTION*/
/***************************************************/


#about-me img {
	border-radius: 50%;
	width: 20%;
	height: 20%;
	
}

#about-me p {
	font-size: 1.5em;
	padding: 5%;
	text-align: justify;
}


/***************************************************/
/*WORKS SECTION*/
/***************************************************/

.my-work {
	
	background: white;
	color: black;
	text-align: center;
	margin-bottom: 10%;
}

.sub-heading h2 {
	margin-top: 5%;
	font-weight: lighter;
	text-align: center;
	margin-top: 2em;
	font-size: 2em;
	padding-top: 15px;
}

.my-work a {
	display: inline-block;
	margin-top: 2em;
	text-decoration: none;
	font-size: 1.5em;
	color: black;
}

.my-work a:hover {
	color: #f3b089;

}

i {
	font-size: 1.2em;
	margin-left: 0.6em;
}

/***************************************************/
/*FOOTER*/
/***************************************************/


footer {
	background: rgba(51, 51, 51, 0.74);
	color: white;
	padding-top: 2em;
	text-align: center;
}

.contact-me a:hover {
	color: #f3b089;
}

#contact-icons {
	margin-top: 3%;
	margin-bottom: 3%;
}

#contact-icons i {
	font-size: 3em;
}

/***************************************************/
/*MEDIA QUERIES*/
/***************************************************/

@media screen and (max-width: 577px) {
  .splash-page {
  	height: 60%;
  }

	.ion-navicon {
		font-size: 3em;
		margin-right: 25%;
	}
  .splash-page a {
  	margin: 0;
  }
  #drawer a {
  	color: black;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu i {
    width: 32px;
    fill: #E0E0E0;
  }

	h1 {
	font-size: 4em;
	margin: 25% 0 25% 0;
	font-weight: normal;
	}

	.sub-heading h2 {
		/*font-size: 1.5em;*/
	}

	#about-me img {
		display: block;
		margin: auto;
		width: 50%;
		height: 50%;
		margin-top: 5%;
		margin-bottom: 5%;	
	}

	#about-me p {
		font-size: 1.3em;
		padding: 5%;

	}

	#contact-icons i {
		font-size: 2em;
		margin: 0;
	}
}

@media screen and (min-width: 577px) {
	.ion-navicon {
		display: none;
	}		

	.flex-container {
		display: flex;
		margin: 5% 0 5% 0;
		
	}
}
