.main-page {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imgs/hero.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	color: white;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	position: relative;
}

nav {
	float: right;
}

a {
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 40px;
	font-size: 18px;
}

a:hover {
	color: #f3b089;
}

.hero-text {
	position: absolute;
  	top: 50%;
  		left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-size: 6em;
	font-weight: bolder;
}

.btn a {
	padding: 11px;
	margin: 0 7px;
	display: inline-block;
	border: 2px solid white;
}

.btn a:hover {
	color: #f3b089;
	border: 2px solid #f3b089; 
}

.btn {
	margin-top: -40px;
}

